@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 * {
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
 	font-family: 'Poppins', sans-serif;
 }
 body{
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	flex-wrap: wrap;
 	min-height: 100vh;
 	background: #f39c12;
 }
 .navigator {
 	position: relative;
 	width: 70px;
 	height: 300px;
 	background: #fff;
 	border-radius: 10px;
 	box-shadow: 0 15px 25px rgba(0,0,0,0.1);
 }
 .navigator ul {
 	position: absolute;
 	top: 0;
 	left: 0;
 	width: 100%; 	
 }
 .navigator ul li {
 	list-style: none;
 	width: 70px;
 	height: 60px;
 	border: 2px solid #fff;
 	border-radius: 10px;
 	box-sizing: border-box; 
 	position: relative;
 }
 .navigator ul li:hover{
 	background: #0077ff;
 }
 .navigator ul li a {
 	position: relative;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	text-decoration: none;
 	color: #0077ff;
 	font-weight: 500;
 } 
 .navigator ul li a .icon {
 	position: relative;
 	display: block;
 	line-height: 60px;
 	text-align: center;
 }
 .navigator ul li:hover a .icon {
 	color: #fff;
 } 
 .navigator ul li a .icon .fa {
 	font-size: 24px;
 }
 .navigator ul li a .title {
 	position: absolute;
 	left: 70px;
 	display: block;
 	background: #fff;
 	width: auto;
 	padding: 5px 10px;
 	transform: translateY(-15%) translateX(0px);
 	border-radius: 6px;
 	box-shadow: 0 5px 15px rgba(0,0,0,0.1);
 	visibility: hidden;
 	opacity: 0;
 	transition: 0.5s;
 }
 .navigator ul li:hover a .title {
 	transform: translateY(-15%) translateX(10px);
 	visibility: visible;
 	opacity: 1;
 }
 .navigator ul li a .title:before{
 	content: '';
 	position: absolute;
 	top: 48%;
 	left: -8px;
 	width: 12px;
 	height: 12px;
 	background: #fff;
 	transform: rotate(45deg) translateY(-50%); 
 }